form {
	display: flex;
	flex-direction: column;
}

ul {
	display: flex;
	gap: 10px;
	list-style-type: none;
	margin: 0;
	padding: 10px;
	align-items: center;
	place-content: center;
	flex-wrap: wrap;
}

li {
	background-color: #3f4b5a;
	width: 30%;
	padding: 10px 15px;
}
a {
	text-decoration: none;
	color: #adfeff;
}
h3 {
	margin: 0;
}

li div {
	display: flex;
	justify-content: space-between;
}

body {
	background-color: red;
}
